{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
        {poolboy, {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
        {mysql, {git, "https://github.com/dizzyd/erlang-mysql-driver.git", {branch, "master"}}},
        {dh_date, {git, "https://github.com/daleharvey/dh_date.git", {branch, "master"}}}
       ]}.

{xref_checks, [undefined_function_calls]}.
