{plugins, [model_plugin]}.
{plugin_dir, "priv"}.

{deps, [{poolboy, ",*", {git, "git@github.com:devinus/poolboy.git", "master"}},
        {erl_db_postgres, ",*", {git, "git@github.com:burbas/erl_db_postgres.git", "master"}},
        {erl_db_ets, ",*", {git, "git@github.com:erldb/erl_db_ets.git", "master"}},
        {erl_db_mnesia, ",*", {git, "git@github.com:erldb/erl_db_mnesia.git", {branch, "dw-test-branch"}}}
       ]}.
