{plugins, [model_plugin]}.
{plugin_dir, "priv"}.

{deps, [{poolboy, ",*", {git, "git@github.com:devinus/poolboy.git", "master"}},
        {erl_db_postgres, ",*", {git, "git@github.com:burbas/erl_db_postgres.git", "master"}},
        {erl_db_mnesia, ",*", {git, "git@github.com:Taure/erl_db_mnesia.git", {branch, "dw-test-branch"}}},
	{erlydtl, ",*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}}
       ]}.
